

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">Search Product : <input type="text" class="form-control" placeholder="search product" [(ngModel)]='titlesearch'>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">Price : <input type="number" class="form-control" placeholder="search according to price" [(ngModel)]='pricesearch'>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
<table class="table">
    <thead style="background-color: #b86c09 ">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Expiry Date</th>
            <th>Quantity</th>
            <th>In Stock</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products | searchpipe:titlesearch | pricepipe:pricesearch">

        <td>{{p.Id}}</td>
        <td>{{p.Title}}</td>
        <td>{{p.Price | currency : 'INR'}}</td>
        <td>{{p.ExpiryDate | date}}</td>
        <td>{{p.Quantity}}</td>
        <td>
            <ng-container *ngIf="p.isStock;then avilable else unavilabe"></ng-container>
            <ng-template #avilable>
                <i class="fa fa-check"></i>
                <button class="btn btn-default">Add</button>
            </ng-template>
            <ng-template #unavilabe>
                <i class="fa fa-times"></i>
               
            </ng-template>

        </td>
    </tr>

    </tbody>
</table>
</div>

    </div>

    <footer class="text-center text-lg-start" style="background-color: #ececec;">
     
        <div class="text-center p-3 font-weight-bold" style="background-color: rgba(0, 0, 0, 0.2); color: rgb(104, 90, 90);">
            In this component we have used a dataservice to let the component access a function which return some data and
            is shown in a table, and if item is avilable in  stock a button will be visible to order product.
               
        </div>

      </footer>