<!-- <div class="text-center"><h1>Purchase Details</h1></div> -->

<!-- <div class="col-md-4"></div> -->

<div class="col-md-12">
    <mat-accordion class="example-headers-align" >
        <mat-expansion-panel 
           *ngFor="let i of IItem">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>{{i.PId}}</h2>
            </mat-panel-title>
            <mat-panel-description>
              <h2 class="text-success">{{i.PName}}</h2>
            </mat-panel-description>
          </mat-expansion-panel-header>
         <app-purchase-order [Purchaseitem]='i'></app-purchase-order>
        </mat-expansion-panel>
       
           
      </mat-accordion>
    
<!-- <table class="table">
    <thead>
        <th>Purchase ID</th>
        <th>Purchase Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of IItem">
            <td>{{i.PId}}</td>
            <td><a  href="abc.com" >{{i.PName}}</a></td>
        </tr>
    </tbody>
</table> -->

</div>
<div class="footer" >
  

<!-- <footer class="text-center text-lg-start" style="background-color: #09b838;"> -->
     
  <div class="text-center p-3 font-weight-bold" style="background-color: rgba(0, 0, 0, 0.2); color: rgb(104, 90, 90);">
    In this component we make use @Input/@output decorators in two components both of which have access to a service named dataservice
    The component 1 fetches data from service and display an expansion panel, and that expansion panel contains a table of component 2.
  </div>
<!-- 
</footer> -->
</div>
