<div class="container">
    <h2>SUBJECTS : Demonstration of different types of  Subject in  RxJs</h2>
   
    
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link  nav-space text-white" style="background-color: #b86c09;" routerLink='/RxjsSubject/subject'>Subject</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  nav-space text-white" style="background-color: #b86c09;" routerLink='/RxjsSubject/subjectbehaviour'>Behavour Subject</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  nav-space text-white" style="background-color: #b86c09;" routerLink='/RxjsSubject/subjectreplay'>Replay Subject</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  nav-space text-white" style="background-color: #b86c09;" routerLink='/RxjsSubject/subjectasync'>Async Subject</a>
      </li>
    </ul>

    <br>
    <br>

    <router-outlet></router-outlet>
  </div>

  
  