<h1 class="text-center" appAttributedirect  style="background-color: #ececec">MY ANGULAR LEARNING DEMO</h1>
<div class="container">
  <div class="row" style="background-color: #ececec;"> 
     <img src='..\assets\angularforhome.png'>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <h2 class="float-right"><br><br>Name : Abhishek  Singh <br> Post : ASET <br> Company : Taazaa Inc.</h2>
</div>

<br>
<br>
<div class="row" style="background-color: #ececec;"> <div class="col-md-6"></div><h1>Index</h1> </div>

<div class="row" style="background-color: #ececec;"> 
    <div class="col-md-5"></div>
    <ol type="A">
        <li> <a routerLink="/T-shirt">Data Binding</a> </li>
        <li> <a routerLink="/Product-store">Structural Directive</a></li>
        <li> <a routerLink="/Purchase-Details">Master Details</a> </li>
        <li> <a routerLink="/ShareData">Shared Data</a> </li>
        <li> <a routerLink="/Globalerror">Global Error Handler</a> </li>
        <li> <a routerLink="/Attribute">Attribute Directive</a> </li>
        <li> <a routerLink="/Login">Login Form</a> </li>
    </ol>

</div>
</div>
