
<div class="container">
    
    <button class="btn btn-outline-success my-2 my-sm-0" (click)='foo()' >Error Handler</button>
   <br>
   <br>
   
    <div class="row">
        <div class="col-md-2">
<img class="img1" appAttributedirect height="500px" width="500px" src='../assets/errorservice.png'class="rounded float-left " >

</div>
<div class="col-md-4"></div>
<div  class="col-md-2">
<img appAttributedirect height="500px" width="500px" src='../assets/classfile.png' class="rounded ">
</div>

</div>