
<div class="container">
    
    <button class="btn btn-outline-success my-2 my-sm-0" (click)='foo()' >Error Handler</button>
   <br>
   <br>
   
    <div class="row">
        <div class="col-md-2">
<img class="img1" style="border: 3px solid #065e12;" appAttributedirect height="500px" width="500px" src='../assets/errorservice.png'class="rounded float-left " >

</div>
<div class="col-md-4"></div>
<div  class="col-md-2">
<img appAttributedirect style="border: 3px solid #067a15;" height="500px" width="500px" src='../assets/classfile.png' class="rounded ">
</div>



</div>
<div class="row">
    <div class="col-md-2"><p class="font-weight-bold text-center">Service  code file.</p></div>
    <div class="col-md-4"></div>
    <div class="col-md-2"><p class="font-weight-bold text-center">Component class file.</p></div>

</div>
<div class="row"> 
<div class="col-md-12">
    <footer class="text-center text-lg-start " style="background-color: #09b838;">
   
      <div class="text-center p-3 font-weight-bold" style="background-color: rgba(0, 0, 0, 0.2);">
            NOTE: This is a simple example depicting the use of errorhandler service,
        By using this we can manipulate the error logs according to our business requirements (Press F12 for output in the browser console).    </div>
  
    </footer>
  </div>
</div>

</div>
