<div class="container">
    <div class="row">
        <div class="col-md-6"><app-child1></app-child1></div>
        <div class="col-md-6"><app-child2></app-child2></div>
    </div>
    <br>
    <br>
    <div class="row"> 

      <footer class="text-center text-lg-start" style="background-color: #09b838;">
     
        <div class="text-center p-3 font-weight-bold" style="background-color: rgba(0, 0, 0, 0.2);">
            NOTE: This is an example of reactive programming where we are using a service whth an object of behaviour subject type which itself tell about any change in its state
            here were have a property of type Iproduct and we are updating its price by calli8ng the function in a component and displaying the complete Iproduct data in another component.
          
        </div>

      </footer>
</div>
</div>
