<h1 class="text-center">Component 2</h1>
<div class="container" >
    
   

<table class="table" style="border: solid 3px;">
    <thead style="background-color: #b86c09">
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Price</td>
            <td>Expiry Date</td>
            <td>Quantity</td>
            <td>Instock</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product.Id}}</td>
            <td>
                {{product.Title}}
            </td>
            <td>
                {{product.Price}}
            </td>
            <td>
                {{product.ExpiryDate | date}}
            </td>
            <td>
                {{product.Quantity}}

            </td>
            <td>
                {{product.isStock}}
            </td>
        </tr>
    </tbody>
</table>

</div>


